{% extends 'base.html.twig' %}

{% block title %}Newsletter - UrbanFit{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Newsletter</h1>
    <p>Contenu de la page newsletter.</p>
</div>
{% endblock %}