{% extends 'base.html.twig' %}

{% block title %}Service Client - UrbanFit{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Service Client</h1>
    <p>Contenu de la page service client.</p>
</div>
{% endblock %}