{% extends 'base.html.twig' %}

{% block title %}Aide - UrbanFit{% endblock %}

{% block body %}
<div class="page-container">
    <h1>Aide</h1>
    <p>Contenu de la page d'aide.</p>
</div>
{% endblock %}